<h1>Signup Page</h1>

<form action="" method="POST">
    {% csrf_token %}
    
    <p><input type="text" name="First_Name" placeholder="First Name" ></p>
    <p><input type="text" name="Last_Name" placeholder="Last_Name" ></p>
    <p><input type="text" name="username" placeholder="Username" ></p>
    <p><input type="email" name="email" placeholder="Email" ></p>
    <p><input type="password" name="password" placeholder="Password" ></p>
    <p><input type="password" name="password2" placeholder="Confirm Password" ></p>

    <button type="submit" >Sign up</button>
    <div class="text-center mt-5 space-x-2">
        <p class="text-base"> Do you have an account? <a href="/signin"> Login </a></p>
    </div>
</form>
