{% extends "base.html" %} 

{% block content %}

<div class="card">
    <div class="card-header card-body" >
        <h5>{{ record.first_name }} {{ record.last_name }}</h5>
    </div>
    <div class="card-body">
      <p><strong>City : </strong><class="card-title">{{ record.city }}</h5><br></p>
      <p><strong>State : </strong><class="card-title">{{ record.state }}</h5><br></p>
      <p><strong>Address : </strong><class="card-title">{{ record.address }}</h5><br></p>
      <p><strong>ZipCode : </strong><class="card-title">{{ record.zip_code }}</h5><br></p>
      <p><strong>Email : </strong><class="card-title">{{ record.email }}</h5><br></p>
      <p><strong>Phone : </strong><class="card-title">{{ record.phone }}</h5><br></p>
      <p><strong>Id : </strong><class="card-title">{{ record.id }}</h5></p>
    </div>
</div>
<br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back to the Home page </a>
<a href="{% url 'delete_confirmation' record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' record.id %}" class="btn btn-primary">Update Record</a>



{% endblock %}