@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{ 
    background-color: antiquewhite ;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width:44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

h1{
    padding: 10px;
}

.container{
    min-height: 65vh ;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    width:60%;
    margin:23px auto;
    border-radius: 12px;
    padding: 10px;
    background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    flex-direction: column;

}

div input{
    margin-bottom: 10px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 200vh;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songItem img{
    width: 23px;
    margin:0 15px;
    border-radius:50px;
}

.timestamp{
    padding:0 23px;
    
}

.timestamp i{
    cursor: pointer;
}
.songInfo{
    position:absolute;
    left:40px
}
.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}
